<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div>
        <h3>Nested controller with model variables defined dircetly on the scopes</h3>
        (typing on an input field, with a data binding to the model, overrides the same variable of a parent scope)
    </div>
    <div ng-controller="firstControllerScope">
        <h3>First controller</h3>
        <strong>First name:</strong> {{firstName}} <br> <br>
        <label> Set the first name:<input type="text" ng-model="firstName" /></label> <br><br>
        <div ng-controller="secondControllerScope">
            <h3>Second controller (inside First)</h3>
            <strong>First name  (form First): </strong> {{firstName}} <br>
            <strong>Middle name (new variable):</strong>{{lastName}} <br>
            <strong>Full name:</strong>{{getFullName()}} <br>
            <label>Set the first name: <input type="text" ng-model="firstName"></label> <br>
            <label>Set the last name: <input type="text" ng-model="lastName"></label>
        </div>
        <div ng-controller="thirdControllerScope">
            <h3>Third controller (inside Second and First)</h3>
            <strong>First name  (form First): </strong> {{firstName}} <br>
            <strong>Middle name (new variable):</strong>{{middleName}} <br>
            <strong>Last name (from Second):</strong>{{$parentlastName}} <br>
            <strong>Last name(redefined in Third):</strong>{{lastName}} <br>
            <strong>Full name (redefined in Third):</strong>{{getFullName()}} <br>
            <label>Set the first name: <input type="text" ng-model="firstName"></label> <br>
            <label>Set the middle name: <input type="text" ng-model="middleName"></label> <br>
            <label>Set the last name: <input type="text" ng-model="lastName"></label>
        </div>
    </div>

    <script>
        var app  = angular.module('myApp', []);
        app.controller('firstControllerScope', function($scope){
            // Initialize the model variables
            $scope.firstName = "Chirs";
        });
        app.controller('secondControllerScope', function($scope){
            // Initialize the model variables
            $scope.lastName = "Hemsworth";
            //Define utility functions
            $scope.getFullName = function ()
            {
                return $scope.firstName + " " + $scope.lastName;
            };
            
        });
        app.controller('thirdControllerScope', function($scope) {
            //Initialize the model variables
            $scope.middleName = "Whitelaw";
            $scope.lastName = "Pine";
            //Define utility functions
            $scope.getFullName = function() {
                return $scope.firstName + " " + $scope.middleName + " " + $scope.lastName;
            };
        });

    </script>
</body>
</html>