<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div>
        <h3>Nested controller with model variables defined dircetly on the scopes</h3>
        (typing on an input field, with a data binding to the model, overrides the same variable of a parent scope)
    </div>
    <div ng-controller="firstControllerObj">
        <h3>First controller</h3>
        <strong>First name:</strong> {{firstModelObj.firstName}} <br> <br>
        <label> Set the first name:<input type="text" ng-model="firstModelObj.firstName" /></label> <br><br>
        <div ng-controller="secondControllerObj">
            <h3>Second controller (inside First)</h3>
            <strong>First name  (form First): </strong> {{firstModelObj.firstName}} <br>
            <strong>Middle name (new variable):</strong>{{secondModelObj.lastName}} <br>
            <strong>Full name:</strong>{{getFullName()}} <br>
            <label>Set the first name: <input type="text" ng-model="firstModelObj.firstName"></label> <br>
            <label>Set the last name: <input type="text" ng-model="secondModelObj.lastName"></label>
        </div>
        <div ng-controller="thirdControllerObj">
            <h3>Third controller (inside Second and First)</h3>
            <strong>First name  (form First): </strong> {{firstModelObj.firstName}} <br>
            <strong>Middle name (new variable):</strong>{{thirdModelObj.middleName}} <br>
            <strong>Last name (from Second):</strong>{{secondModelObj.lastName}} <br>
            <strong>Last name(from Third):</strong>{{thirdModelObj.lastName}} <br>
            <strong>Full name (redefined in Third):</strong>{{getFullName()}} <br>
            <label>Set the first name: <input type="text" ng-model="firstModelObj.firstName"></label> <br>
            <label>Set the middle name: <input type="text" ng-model="thirdModelObj.middleName"></label> <br>
            <label>Set the last name: <input type="text" ng-model="thirdModelObj.lastName"></label>
        </div>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('firstControllerObj', function($scope) {
            // Initialize the model object
            $scope.firstModelObj = {
                firstName : "Chris"
            };
        });
        app.controller('secondControllerObj', function($scope) {
            // Initialize the model object
            $scope.secondModelObj = {
                lastName : "Hemsworth"
            };
            // Define utility functions
            $scope.getFullName = function () {
                return $scope.firstModelObj.firstName + " " + $scope.secondModelObj.lastName
            };
        });
        app.controller('thirdControllerObj', function($scope) {
            // Initialize the model object
            $scope.thirdModelObj = {
                middleName : "whitelaw",
                lastName : "pine",
            };
            // Define utility functions
            $scope.getFullName = function () {
                return $scope.firstModelObj.firstName + " " + $scope.thirdModelObj.middleName +  " " + $scope.thirdModelObj.lastName;
            };
        });
    </script>
</body>
</html>